body
  margin 0px
  *,
  *:before,
  *:after
    box-sizing border-box
  a
    color ColorLink
    text-decoration underline
    &:active
    &:focus
      text-decoration none
  .leaflet-control-zoom a
    text-decoration none
    color #333
  .leaflet-control-attribution a
    color #003366
